.sidenav {
  width: 20vw;
}
.example-container {
  height: 100%;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
mat-list-item:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
